<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>basic_html&css</title>
    <style>
      body {
        background-color: rgb(236, 236, 244);
      }
      h1 {
        color: brown;
      }
      section {
        background-color: rgb(153, 165, 115);
        height: fit-content;
        text-align: center;
      }
      .adg{
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <section> 
      <h1>Starting HTML5 practice</h1>
      <div class="adg">
        <h2>I'm beginning my full stack journey</h2>
      </div>
    </section>
  </body>
</html>
